@font-face{
	font-family: 'MajestiBoldItalic';
	src: url('../../font/majesti-banner-bolditalic-webfont.eot');
	src: url('../../font/majesti-banner-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../font/majesti-banner-bolditalic-webfont.woff') format('woff'),
	     url('../../font/majesti-banner-bolditalic-webfont.woff2') format('woff2'),
	     url('../../font/majesti-banner-bolditalic-webfont.ttf') format('truetype'),
	     url('../../font/majesti-banner-bolditalic-webfont.svg') format('svg');
}

html, body {
	height: 100vh;
	font-family: 'proxima-nova';
	font-weight: 100;
}

body {
	padding: 0;
	background: rgba(255,94,102,1);
	/* Old Browsers */background: -moz-linear-gradient(-45deg, rgba(255,94,102,1) 0%, rgba(84,138,255,1) 100%);
	 /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,94,102,1)), color-stop(100%, rgba(84,138,255,1)));
	/* Chrome, Safari4+ */background: -webkit-linear-gradient(-45deg, rgba(255,94,102,1) 0%, rgba(84,138,255,1) 100%);
	 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, rgba(255,94,102,1) 0%, rgba(84,138,255,1) 100%);
	 /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, rgba(255,94,102,1) 0%, rgba(84,138,255,1) 100%);
	 /* IE 10+ */background: linear-gradient(135deg, rgba(255,94,102,1) 0%, rgba(84,138,255,1) 100%);
	/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e66', endColorstr='#548aff', GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
}

h1{
	font-family: "MajestiBoldItalic", serif;
	font-size: 11.9vw;
	line-height: 22vh;
	color: white;
	text-align: center;
	vertical-align: middle;
}

h3{
	font-weight: 100;
}

.hero-container a:hover, .hero-container a:visited, .hero-container a:link, .hero-container a:active {
	text-decoration: none;
	color: black;
}

.odd {
	background-color: black;
}

.even {
	background-color: white;
}

.lofts-back{
/*	background-color: $brick-red;
*/}

ul {
    list-style-type: none;
    margin-left: 25px;
    padding-top: 5px;
    padding-left: 0;
}

// * {
// 	outline: 1px solid red;
// 	background-color: black;
// 	color: green;
// }