$black: rgba(0,0,0,0.88);
$blue: rgba(83,138,255,1);
$red: rgba(255,96,101,1);
$orange: rgba(232,155,82,1);
$yellow: rgba(255,241,156,1);
$violet: rgba(221,206,232,1);

$iphone5-vertical: 320px;
$iphone6-vertical: 375px;
$iphone6-plus-vertical: 414px;
$iphone5-landscape: 568px;
$iphone6-landscape: 667px;
$iphone6-plus-landscape: 736px;
$ipad-vertical: 768px;
$ipad-landscape: 1024px;
$desktop-1600px: 1600px;
$desktop-1920px: 1920px;